*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f5f5f7;
}
.apple-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    font-size: 13px;
    margin: 0px auto;
}
@media (max-width: 991px) {
    .apple-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;                 
        padding: 0 16px;
        margin-top: 10px;
        font-weight: bold;
    }
}
.emi{
    text-align: center;
    font-size: 13px;
    top: 10px;
    background-color: white;
    padding: 15px;
}
.apple-pattern-section {
  background: #f5f5f7;
  overflow: hidden;
}
