* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f5f5f7;
}

html {
    scroll-behavior: smooth;
}

.apple-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    font-size: 13px;
    margin: 0px auto;
}

@media (max-width: 991px) {
    .apple-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 16px;
        font-weight: bold;
    }
}

@media (max-width: 991px) {
    .emi {
        margin-top: 10px;
        left: 0;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
    }
}

.emi {
    text-align: center;
    font-size: 13px;
    top: 10px;
    background-color: white;
    padding: 15px;
}

.apple-pattern-section {
    background: #f5f5f7;
    height: 100px;
    overflow: hidden;
    width: 100%;
}

.main-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:991px) {
    .main-sec {
        max-width: 100%;
        display: block;
        margin: 5px 1px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .main-sec p {
        text-align: left;
    }

    .main-sec a {
        text-align: left;
    }
}

.main-ctn {
    width: 350px;
    text-align: right;
}

.main-ctn a {
    text-decoration: none;
    color: rgb(14, 137, 214);
    text-align: right;
    font-size: 14px;
    font-weight: 450;
}

.main-ctn a:hover {
    text-decoration: underline;
}

.main-imgs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.main-imgs p {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.main-imgs p:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 991px) {
    .main-imgs {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 16px;
        padding-bottom: 10px;
    }

    .main-imgs>div {
        flex: 0 0 auto;
        width: 120px;
        text-align: center;
    }

    .main-imgs::-webkit-scrollbar {
        display: none;
    }
}

.carousel-1 img {
    border-radius: 20px;
}

.scroll-wrapper {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.scroll {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll img {
    border-radius: 20px;
}

.scroll-img1 {
    position: relative;
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 380px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.scroll-img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card-text {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;

}

.card-text p {
    background: transparent;
    margin: 0;
    padding: 0;
}

.card-text .title {
    font-size: 30px;
    font-weight: 600;
    opacity: 0.9;
}

.card-text .subtitle {
    font-size: 22px;
    font-weight: 600;
    margin-top: 4px;
}

.card-text .price {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 6px;
}

.scroll-container {
    max-width: 1100px;
    margin: 0 auto;
}

.detail-cards {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.detail-cards::-webkit-scrollbar {
    display: none;
}

.detail-card1 {
    width: 300px;
    min-width: 300px;
    height: 250px;
    border-radius: 15px;
    background-color: white;
    font-size: 24px;
    font-weight: 600;
    overflow: hidden;
    max-width: 85%;
    box-sizing: border-box;
    scroll-snap-align: start;
}
.gadget-wrapper {
    width: 100%;
    overflow: hidden;
}

.gadget-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 10px 30px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.gadget-container::-webkit-scrollbar {
    display: none;
}

.gadget-img1 {
    position: relative;
    width: 380px;
    height: 500px;
    scroll-snap-align: start;
    overflow: hidden;
    flex-shrink: 0;

}

.gadget-img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}

.gadget-img2 {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    scroll-snap-align: start;
    flex-shrink: 0;
    /* overflow: hidden; */
}
.gadget-img2 img {
    margin-top: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

 .img-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
     padding-bottom: 40px;
    /* overflow-y: hidden; */
}
.img-wrap img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
  
}
.img-wrap::-webkit-scrollbar {
    display: none;
}

.round {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
    z-index: 20;

}

.round>div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.round>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gadget-text {
    background-color: white;
    padding: 20px 20px 20px 25px;
}
.gadget-text::-webkit-scrollbar{
    display: none;
}

.gadget-text .des{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    background-color: transparent;
}

.gadget-text .price {
    font-size: 14px;
    color: #6e6e73;
    background-color: transparent;
    margin-top: 20px;
}
.help-img1 {
    position: relative;
    width: 450px;
    height: 500px;
    scroll-snap-align: start;
    overflow: hidden;
    flex-shrink: 0;

}

.help-img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}
.help-last-img {
    position: relative;
    width: 450px;
    height: 500px;
    scroll-snap-align: start;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 20px;

}
.help-last-img img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 20px; */
}
.help-last-card{
    font-size: 14px;
     font-weight: 400;
     padding-left: 20px;
     padding-top: 20px;
     background-color: white;
     padding-bottom: 30px;
}
.title-gradient{
     font-size: 40px;
  font-weight: 600;

  background: linear-gradient(
    90deg,
    #007aff,   /* blue */
    #5856d6,   /* purple */
    #ff2d55,   /* pink */
    #ff3b30    /* red */
  );
}
 