*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f5f5f7;
}
.apple-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    font-size: 13px;
    margin: 0px auto;
}
@media (max-width: 991px) {
    .apple-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;                 
        padding: 0 16px;
        margin-top: 10px;
        font-weight: bold;
    }
}
.emi{
    text-align: center;
    font-size: 13px;
    top: 10px;
    background-color: white;
    padding: 15px;
}
.apple-pattern-section {
  background: #f5f5f7;
  height: 100px;
  overflow: hidden;
  width: 100%;
}
.main-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:991px){
    .main-sec{
        display: block;
        margin: 5px 1px ;
        padding-left: 5px;
    }
 .main-sec p,
.main-sec a {
    text-align: left;
}

}
.main-ctn{
    width: 350px;
    text-align: right;
}
.main-ctn a{
    text-decoration: none;
    color: rgb(14, 137, 214);
    text-align: right;
    font-size: 14px;
    font-weight: 450;
}
.main-ctn a:hover{
    text-decoration: underline;
}
.main-imgs{
    /* height: 500px;
    max-width: 500px;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.main-imgs p{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.main-imgs p:hover{
    text-decoration: underline;
    cursor: pointer;
}